* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    margin: 0 auto;
    height: 100vh;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 300px;
    width: 300px;
    border-radius: 7px;
    background: linear-gradient(red, green, yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper h1 {
    color: white;
    font-size: 42px;
    text-decoration: underline 6px black;
}